<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Receipt for your purchase</h1>
    <p>You have bought at ticket for <%= @ticket.showtime.movie.name %> at <%= @ticket.showtime.time %> from MovieTicketingSystem.</p>

    <p>Your total was $10.00</p>
  </body>
</html>