<h1> view all auditoria </h1>

<ul class='mdl-list'>
	<% auditoria.each do |auditorium| %>
	<li class='mdl-list__item'><%= link_to "#{auditorium.name} Auditorium", auditorium_path(auditorium) %>: <%= auditorium.seating %> seats</li>
	<% end %>
</ul>