<h2>Show times for this Auditorium:</h2>

<ul>
	<% showtimes.each do |showtime| %>
		<li><%= showtime.movie.name %>: <%= format_time(showtime.time) %> <%= link_to 'Delete', showtime_url(showtime), method: "DELETE" %></li>
	<% end %>
</ul>