<h2>Show times for this Auditorium:</h2>

<ul class='mdl-list'>
	<% showtimes.each do |showtime| %>
		<li class='mdl-list__item'><%= showtime.movie.name %>: <%= format_time(showtime.time) %> <%= link_to 'Delete', showtime_url(showtime), method: "DELETE" %></li>
	<% end %>
</ul>